body {
  margin: 0;
  background: #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 8vh;
  background: #001 url(../images/deep-space.jpg);
  background-size: cover;
}
section {
  box-sizing: border-box;
  height: 33.33333vh;
  line-height: 33.33333vh;
  width: 33.33333%;
  text-align: center;
}
section {
  animation: fading 8s infinite ease-in-out;
}
section:nth-child(2) {
  background: black;
  color: white;
  animation-duration: 4s;
}
section:nth-child(3) {
  background: #090;
  color: white;
  animation-duration: 5s;
}
section:nth-child(4) {
  background: #8f5;
  animation-duration: 6s;
}
section:nth-child(5) {
  background: #dd6;
  animation-duration: 7s;
}
section:nth-child(7) {
  background: #e03;
  color: white;
  animation-duration: 8s;
}
section:nth-child(9) {
  color: white;
  background: #92f;
  animation-duration: 9s;
}


/* animations */

@keyframes fading {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/*
1 white water
2 black earth
3 green wood
4 light green wood
5 dull yellow earth
6 white metal
7 red metal
8 white earth
9 purple fire
*/
