body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* font-family: Tahoma, Arial, Helvetica, sans-serif; */
  font-size: 4vh;
  background: #001 url(../images/deep-space.jpg);
}
section {
  box-sizing: border-box;
  height: 33.33333vh;
  width: 33.33333%;
  line-height: 7.7vh;
  padding: 1vh 2% 2vh;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: #fff 0 0 8px;
  animation: fading 8s infinite ease-in-out;
}

section:nth-child(1) {
  background: #001;
  color: #ddd;
  animation-delay: 11s;
}
section:nth-child(2) {
  background: black;
  color: white;
  animation-delay: 15s;
}
section:nth-child(3) {
  background: #090;
  color: white;
  animation-delay: 9s;
}
section:nth-child(4) {
  background: #8f5;
  text-shadow: #001 0 0 4px;
  animation-delay: 10s;
}
section:nth-child(5) {
  background: transparent url(../images/sun/sun-1.gif) no-repeat;
  /* background-size: 120%;
  background-position: 48% 5%; */
  /* https://css-tricks.com/almanac/properties/b/background-size/ */
  background-size: 103% auto cover;
  background-position: 50% 50%;
  color: #001;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 3.5vh;
  padding-top: 2.5%;
  animation: none;
}
section:nth-child(6) {
  background: #001;
  color: #ddd;
  animation-delay: 13s;
}
section:nth-child(7) {
  background: #e03;
  color: white;
  animation-delay: 14s;
}
section:nth-child(8) {
  background: #ddd;
  text-shadow: #001 0 0 4px;
  animation-delay: 8s;
}
section:nth-child(9) {
  color: white;
  background: #92f;
  animation-delay: 12s;
}

/* animations */

@keyframes fading {
  0%,100% { opacity: 0 }
  50% { opacity: 0.9 }
}

/*
1 white water
2 black earth
3 green wood
4 light green wood
5 dull yellow earth
6 white metal
7 red metal
8 white earth
9 purple fire

8:one 8s, 3:two 9s, 4:three 10s, 1:four 11s, 5:five, 9:six 12s, 6:seven 13s, 7:eight 14s, 2:nine 15s
1:four 11s, 2:nine 15s, 3:two 9s, 4:three 10s, 5:five, 6:seven 13s, 7:eight 14s, 8:one 8s, 9:six 12s
*/
