body {
  margin: 0;
  background: #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* font-family: Tahoma, Arial, Helvetica, sans-serif; */
  font-size: 4vh;
  background: #001 url(../images/deep-space.jpg);
}
section {
  box-sizing: border-box;
  height: 33.33333vh;
  width: 33.33333%;
  line-height: 7.7vh;
  padding: 2vh 2%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: #fff 0 0 8px;
}
section {
  background: white;
  animation: fading infinite ease-in-out;
}
section:nth-child(1) {
  background: #001;
  color: #ddd;
  animation-duration: 6s;
}
section:nth-child(2) {
  background: black;
  color: white;
  animation-duration: 7s;
}
section:nth-child(3) {
  background: #090;
  color: white;
  animation-duration: 8s;
}
section:nth-child(4) {
  background: #8f5;
  text-shadow: #001 0 0 4px;
  animation-duration: 9s;
}
section:nth-child(5) {
  background: transparent url(../images/sun.gif) no-repeat;
  /* background-size: 120%;
  background-position: 48% 5%; */
  background-size: 102% auto cover;
  background-position: 48% 50%;
  color: #001;
  font-weight: bold;
  padding-top: 7.5%;
}
section:nth-child(6) {
  background: #001;
  color: #ddd;
  animation-duration: 11s;
}
section:nth-child(7) {
  background: #e03;
  color: white;
  animation-duration: 12s;
}
section:nth-child(8) {
  background: #ddd;
  text-shadow: #001 0 0 4px;
  animation-duration: 13s;
}
section:nth-child(9) {
  color: white;
  background: #92f;
  animation-duration: 16s;
}


/* animations */

@keyframes fading {
  0%,100% { opacity: 0 }
  50% { opacity: 0.9 }
}

/*
1 white water
2 black earth
3 green wood
4 light green wood
5 dull yellow earth
6 white metal
7 red metal
8 white earth
9 purple fire
*/
